* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 60px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 10%;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.skills-grid span {
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}
